.loader {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &::after {
    content: " ";
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    margin: .4rem;
    border-radius: 50%;
    border: .3rem solid #9e4f60;
    border-color: #9e4f60 transparent #9e4f60 transparent;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}